@model GoldTeamProject7.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="large-12 columns">
        <h1 class="product-title">@Html.DisplayFor(model => model.Title)</h1>
    </div>
</div>

<div class="row">
    <div class="large-7 columns">
        <span class="main-image"><img src="data:image;base64,@Convert.ToBase64String(Model.MainPhoto)" /></span>
    </div>
    <div class="large-5 columns">
        <p class="detail-price">@Html.DisplayFor(model => model.Price)</p>
        @Html.ActionLink("Make An Offer", "Transaction", "Products", new { id = Model.ID }, new { @class = "purchase-button" })
        <p class="purchase-info">When you make an offer you can message the seller and we suggest some public businesses to meet and conduct your transaction.</p>
        <div class="seller-wrap">
            <p class="seller-headline">Seller Information:</p>
            <span class="seller-image"><img src="data:image;base64,@Convert.ToBase64String(Model.ApplicationUser.ProfileImage)" /></span>
            <p class="seller-name">@Html.DisplayFor(model => model.ApplicationUser.FirstName)</p>
            <p class="detail-zipcode"><span>Zipcode:</span>@Html.DisplayFor(model => model.ApplicationUser.Zipcode)</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-7 columns">
        <p class="detail-desc">@Html.DisplayFor(model => model.Description)</p>
    </div>
</div>



@Html.DisplayFor(model => model.Category)

@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
