@model GoldTeamProject7.Models.Product

@{
    ViewBag.Title = "Details";
}

@Html.DisplayFor(model => model.Title)

@Html.DisplayFor(model => model.Price)

@Html.DisplayFor(model => model.Description)

@Html.DisplayFor(model => model.Category)

@Html.DisplayFor(model => model.ApplicationUser.FirstName)

@Html.DisplayFor(model => model.ApplicationUser.LastName)

@Html.DisplayFor(model => model.MainPhoto)

@Html.DisplayFor(model => model.ApplicationUser.Zipcode)

<img src="data:image;base64,@Convert.ToBase64String(Model.ApplicationUser.ProfileImage)" />

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
