@model PagedList.IPagedList<GoldTeamProject7.Models.Product>

@{
    ViewBag.Title = "Search Results:";
}

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{ ViewBag.Title = "Products";
}

<div class="row">
    <div class="large-12 columns">
        <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 100, "itemSelector": ".item", "gutter": 24 }'>
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="product-card">
                        <a href="/Products/Details/@Html.DisplayFor(modelItem => item.ID)">
                            <img src="data:image;base64,@Convert.ToBase64String(item.MainPhoto)" />
                            <p class="title">@Html.DisplayFor(modelItem => item.Title)</p>
                            <p class="price">@Html.DisplayFor(modelItem => item.Price)</p>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div style="height: 50px"></div>
    </div>
    
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>
        

