@model GoldTeamProject7.Models.Product

@Html.ActionLink("Transaction" ,"Details", "Products", new{id= Model.ID });

@{
    ViewBag.Title = "Transaction";
}



<h2>Transaction Page</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainPhoto)
        </dd>
           
    </dl>
</div>





