@model GoldTeamProject7.Models.IndexViewModel

@{
    ViewBag.Title = "Edit Profile";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @Html.ActionLink("Change", "ChangeAccountSettings")
            ]
        </h4>
         <div>
             <h5>First Name:</h5>   
             @Model.FirstName             
         </div>
        <div>
            <h5>Last Name:</h5>
            @Model.LastName
        </div>
        <div>
            <h5>Email:</h5>
            @Model.Email
        </div>
        <div>
            <h5>Zipcode:</h5>
            @Model.Zipcode
        </div>
        <div>
            <h5>Phone Number:</h5>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        </div>
        
        <div>
            <h5>Password:</h5>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </div>
        <p class="text-success">@ViewBag.StatusMessage</p>
            
    </div>
</div>

<div class="row">
    <div class="large-12 columns">

        <h4>Your Products</h4>

        @foreach (var item in Model.ApplicationUserProducts)
        {
            <table border="1">
                <tr>
                    <td><img src="data:image;base64,@Convert.ToBase64String(item.MainPhoto)"/></td>
                    <td>@item.Title</td>
                    <td>@item.Price</td>
                    <td>@item.Category</td>
                    
                    @if (item.Availability == true)
                    {
                        <td>Available</td>
                    }
                    else
                    {
                        <td>Unavailable</td>
                    }
                    
                    
                </tr>                
            </table>
    <div>
            @foreach(var message in Model.ProductMessages.Where(m => m.ProductID == item.ID))
            { 
                <div>
                @message.DateSent
                </div>
                
                foreach (var sender in Model.SenderTable.Where(s => s.Id == message.ApplicationUserID ))
                {
                    <div>
                        @sender.UserName
                    </div>
                }
                
                <div>
                @message.Message
                </div>
            }
    </div>
        }
        <div>
            @Model.MessagesBool
        </div>
        </div>
    </div>
