@model GoldTeamProject7.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";

}

<h4 class="name-header">Hello @Model.FirstName</h4>
<div style="height:50px"></div>
<div class="row">
    <div class="large-7 columns">
        <img src="data:image;base64,@Convert.ToBase64String(Model.ProfileImage)" />
    </div>

    <div class="large-5 columns">
        <div class="my-info">
            <div>
                <h5>First Name:</h5>
                <h6>@Model.FirstName</h6>
                <hr />
            </div>
            <div>
                <h5>Last Name:</h5>
                <h6>@Model.LastName</h6>
                <hr />
            </div>
            <div>
                <h5>Email:</h5>
                <h6>@Model.Email</h6>
                <hr />
            </div>
            <div>
                <h5>Zipcode:</h5>
                <h6>@Model.Zipcode</h6>
                <hr />
            </div>

            <div>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </div>
            <p class="text-success">@ViewBag.StatusMessage</p>

        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">

        <h4 class="products-header">Products &amp; Messages</h4>

        @foreach (var item in Model.ApplicationUserProducts)
        {
            <table class="product-table" border="0">
                <tr>
                    <td class="table-image"><img src="data:image;base64,@Convert.ToBase64String(item.MainPhoto)" /></td>
                    <td><p>@item.Title</p></td>
                    <td><p>@item.Price</p></td>
                    <td><p>@item.Category</p></td>

                    @if (item.Availability == true)
                    {
                        <td><p>Available</p></td>
                    }
                    else
                    {
                        <td><p>Unavailable</p></td>
                    }


                </tr>
            </table>
            <div class="messages-wrap">
                @foreach (var message in Model.ProductMessages.Where(m => m.ProductID == item.ID))
                {

                    <div class="date-sent">
                        <p>@message.DateSent</p>
                    </div>

                    foreach (var sender in Model.SenderTable.Where(s => s.Id == message.ApplicationUserID))
                    {
                        <div class="sender-email">
                            <p>@sender.UserName</p>
                        </div>
                    }

                    <div class="message-content">
                        <p>@message.Message</p>
                    </div>
                        <hr />
                }
            </div>
        }
        
        <div id="message-bool" style="visibility:hidden">
            @Model.MessagesBool
        </div>
    </div>
</div>