@model GoldTeamProject7.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    
}
<div class="row">
    <img src="data:image;base64,@Convert.ToBase64String(Model.ProfileImage)" class="large-5 columns"  />
    <div class="large-7 columns">
        
        <h4>Your account settings</h4>
        
         <div>
             <h5>First Name:</h5>   
             @Model.FirstName
             [
             @if (@Model.FirstName != null)
             {
                 @Html.ActionLink("Change", "ChangeFirstName")
                 
             }
             else
             {
                 @Html.ActionLink("Add", "AddFirstName")
             }
             ]

            
         </div>
        <div>
            <h5>Last Name:</h5>
            @Model.LastName
            [
            @if (@Model.LastName != null)
            {
                @Html.ActionLink("Change", "ChangeLastName")

            }
            else
            {
                @Html.ActionLink("Add", "AddLastName")
            }
            ]
        </div>
        <div>
            <h5>Email:</h5>
            @Model.Email
            [
            @if (@Model.Email != null)
            {
                @Html.ActionLink("Change", "ChangeEmail")

            }
            else
            {
                @Html.ActionLink("Add", "AddEmail")
            }
            ]
        </div>
        <div>
            <h5>Zipcode:</h5>
            @Model.Zipcode
            [
            @if (@Model.Zipcode != null)
            {
                @Html.ActionLink("Change", "ChangeZipcode")

            }
            else
            {
                @Html.ActionLink("Add", "AddZipcode")
            }
            ]
        </div>

            
            

        <div>
            <h5>Phone Number:</h5>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        </div>
        
        <div>
            <h5>Password:</h5>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </div>
        <p class="text-success">@ViewBag.StatusMessage</p>
            
    </div>
</div>

<div class="row">
    <div class="large-12 columns">

        <h4>Your Products</h4>

        @foreach (var item in Model.ApplicationUserProducts)
        {
            <table border="1">
                <tr>
                    <td><img src="data:image;base64,@Convert.ToBase64String(item.MainPhoto)"/></td>
                    <td>@item.Title</td>
                    <td>@item.Price</td>
                    <td>@item.Category</td>
                    <td>@item.Availability</td>
                    
                </tr>                
            </table>
    @*<div>
        @Model.ProductMessages
    </div>*@
        }

        </div>
    </div>
