@model GoldTeamProject7.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="large-6 columns">
            <div class="field-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "field-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "field-input" })
            </div>
            <div class="field-group">
                @Html.LabelFor(m => m.LastName, new { @class = "field-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "field-input" })
            </div>
            <div class="field-group">
                @Html.LabelFor(m => m.Zipcode, new { @class = "field-label" })
                @Html.TextBoxFor(m => m.Zipcode, new { @class = "field-input" })
            </div>
            <div class="field-group photo-upload">
                <div class="row">
                    <div class="large-6 columns">
                        @Html.LabelFor(m => m.ProfileImage, new { @class = "field-label photo-label" })
                    </div>
                    <div class="large-6 columns">
                        <p>
                            <input name="ImageFile" type="file" class="photo-btn"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <div class="large-6 columns">
        <div class="field-group">
            @Html.LabelFor(m => m.Email, new { @class = "field-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "field-input" })
        </div>
        <div class="field-group">
            @Html.LabelFor(m => m.Password, new { @class = "field-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "field-input" })
        </div>
        <div class="field-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "field-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field-input" })
        </div>

        <div class="field-group">
            <input type="submit" class="register-btn jumbotron-btn" value="Create Account" />
        </div>
    </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
